.hide {
  display: none;
}

header {
  text-align: center;
}

body {
  background-color: coral;
}

h3 {
  text-align: center;
}

td.hide {
  background-color: green;
}

table,
th,
td {
  border: 1px solid white;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
